@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&subset=cyrillic')
@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 1201px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: auto
	color: $text
	counter-reset: advantage-item
	// counter-reset: section-counter
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/* links */
a:link, a:visited
	color: $accent
	outline: none
	text-decoration: none
a:hover
	color: $accent

.container-fluid
	width: 1200px !important

// HEADER
.top-bar
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1)
	padding-top: 16px
	padding-bottom: 17px
	a.logo
		display: block
		float: left
	.slogan
		float: left
		margin: 1px 0 0 19px
		font-size: 1.125em
		line-height: 1.4
	.contact
		float: right
		margin-top: 14px
		a
			font-weight: bold
			color: #000
			margin-left: 32px
			i.fas
				color: $accent
				vertical-align: middle
				margin-right: 6px
				display: inline-block
		.phone
			font-size: 1.125em
			i.fas
				font-size: 0.889em
				line-height: 26px
				vertical-align: top
.main-nav ul
	display: flex
	justify-content: center
	list-style: none
	padding: 22px 0 20px
	margin: 0
	li
		margin: 0 35px
		text-align: center
	a
		color: #000
		font-weight: bold
		font-size: 1.375em
		display: inline-block
		line-height: 1.3
		&:hover .nav-custom-icon
			transform: translateY(5px)
// END HEADER

// CUSTOM ICON
.nav-custom-icon
	display: inline-block
	width: 39px
	height: 33px
	background-repeat: no-repeat
	background-position: center
	transition: $trans
	&.ci01
		background-image: url(../images/ci01.png)
	&.ci02
		background-image: url(../images/ci02.png)
	&.ci03
		background-image: url(../images/ci03.png)
	&.ci04
		background-image: url(../images/ci04.png)
	&.ci05
		background-image: url(../images/ci05.png)
// END CUSTOM ICON

// SLIDER
.owl-home
	.item
		display: flex
		align-items: center
		& > a
			width: 100%
		.wrap-slide-content
			position: relative
			color: #fff
			display: inline-block
			padding: 45px 0 25px 51px
			p
				text-align: left
			&::before
				content: ''
				left: 0
				top: 0
				width: 50%
				height: 100%
				position: absolute
				display: block
				border: 8px solid #fff
				border-right: 0
			.slide-content
				&::before, &::after
					content: ''
					display: block
					position: absolute
					width: 8px
					height: 55px
					background-color: #fff
					left: 50%
				&::before
					top: 0
				&::after
					bottom: 0
				h2
					font-size: 3.500em
					font-family: $proxi-nova-black
					font-weight: normal
					line-height: 1.2
					margin-bottom: 2px
					span
						font-size: 1.589em
						letter-spacing: 5px
.slider
	position: relative
	counter-reset: dot
	.owl-dots-wrap
		position: absolute
		bottom: 45px
		left: 0
		width: 100%
		z-index: 100
		.owl-dot
			display: inline-block
			color: #ababab
			margin-right: 12px
			cursor: pointer
			background: none
			border: none
			&::after
				counter-increment: dot
				content: "0" counter(dot)
			&.active
				color: #fff
				&::before
					content: ''
					width: 12px
					height: 1px
					background-color: #fff
					display: inline-block
					vertical-align: middle
					margin-right: 6px
// END SLIDER

// NEWS SECTION
.news
	padding: 72px 0 14.5px
	.row > div
		margin-bottom: 30px
.news-item
	max-width: 273px
	margin: 0 auto
	// background: #fff url(../images/news-item-bg.png) right bottom no-repeat
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
	transition: $trans
	height: 100%
	&:hover
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35)
	img
		max-width: 100%
	.news-item-content
		padding: 14px 14px 30px
		em.date
			font-family: $proxi-nova-light
			font-style: normal
		em.date, h3
			font-size: 0.875em
		h3
			text-transform: uppercase
			margin: 1px 0 7px
		p
			margin-bottom: 9px
		a.read-more
			font-size: 0.750em
// END NEWS SECTION

// ARCHIVES SECTION
.archives
	padding: 14.5px 0 69px
	.row > div
		margin-bottom: 30px
	.section-title
		margin-bottom: 8px
.archives-item
	display: block
	color: #fff
	text-align: center
	overflow: hidden
	padding: 0 15px
	background-color: $accent
	transition: $trans
	height: 100%
	border: 1px solid #e6e6e6
	&::parent
		margin-bottom: 30px
	&:hover
		transform: scale(1.05)
	.icon
		display: flex
		flex-direction: colum
		align-items: center
		justify-content: center
		width: 103px
		height: 86px
		background-color: #fff
		margin: 0 auto 9px
		vertical-align: middle
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
		img
			max-width: 51px
	h3
		text-transform: uppercase
		font-family: $proxi-nova-black
		font-weight: normal
		letter-spacing: 1px
		font-size: 1.125em
		margin-bottom: 11px
		line-height: 1.5
		a
			color: white
// END ARCHIVES SECTION

// SECTION STOCK
.stock
	background: #000a13 url(../images/stock-bg.jpg) center center no-repeat
	background-size: cover
	height: 545px
	padding: 73px 0
	display: flex
	align-items: center
	justify-content: center
	.stock-content
		max-width: 490px
		color: #fff
		margin-left: -300px
		h3
			text-transform: uppercase
			font-size: 1.875em
			margin-bottom: 18px
		p
			margin-bottom: 15px
		a.btn
			margin-top: 15px
// END SECTION STOCK

// FOOTER
.main-footer
	padding: 43px 0 34px
	color: #000
	.logo
		margin-top: 5px
	.logo, .company-rule, .company-info
		float: left
	.footer-contact
		float: right
	.company-rule
		max-width: 270px
		font-size: 0.813em
		margin: 0 0 0 25px
		line-height: 1.5
		&, a
			color: #787878
		a
			border-bottom: 1px solid #787878
	.company-info
		margin-left: 85px
		p
			font-size: 0.875em
			margin-bottom: 5px
			line-height: 1.4
			&, a
				color: #5e5e5e
			a
				border-bottom: 1px solid #5e5e5e
	.footer-contact
		margin-right: 130px
		p
			margin-bottom: 3px
			text-transform: uppercase
			font-weight: bold
			color: #2c2c2c
			font-size: 0.938em
		a
			color: $text
			font-weight: bold
			display: block
			.fas
				color: $accent
				font-size: 16px
				margin-right: 8px
				vertical-align: middle
			&.phone
				font-size: 1.125em
				margin-bottom: 11px
				.fas
					vertical-align: top
					line-height: 26px
// END FOOTER

// COPYRIGHT
.copyright
	background-color: $accent
	padding: 18px 0 9px
	p, a
		color: #dfdfdf
	p
		font-size: 0.813em
		margin-bottom: 0
		float: left
		font-family: $proxi-nova-light
		&.dev
			float: right
	a
		border-bottom: 1px solid #dfdfdf
// END COPYRIGHT

//CALC PAGE
.calc-page--top
	padding-top: 37px
	font-family: serif
	font-family: 'Montserrat', sans-serif
	h1
		font-weight: 800
		font-size: 2.250em
		line-height:  48px
		margin-top: 24px
		margin-bottom: 79px
.calc-page--advantages
	font-family: 'Montserrat', sans-serif
	padding-top: 85px
	.advantage-item
		position: relative
		&::before
			counter-increment: advantage-item
			content: "0" counter(advantage-item)
			position: absolute
			left: 0
			top: -.7em
			font-weight: 800
			font-size: 4.000em
			line-height: 1.578em
			color: #EFEFEF
		p
			color: #636363
			font-size: 1.125em
			line-height: 1.556em
.warp--auditory-and-calc
	font-family: 'Montserrat', sans-serif
	padding-top: 70px
	h2
		font-size: 2.250em
		line-height: 1.333em
		margin-bottom: 50px
	p
		font-size: 1.333em
		line-height: 1.556em
	.auditory
		background: linear-gradient(to top right,rgba(208, 208, 208, 0.15) 50%,#fff 50%,#fff 100%)
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			right: 0
			top: -100px
			background: url(../images/calc-audit.png) 0 0 no-repeat
			width: 256px
			height: 432px
#calc-script
	padding-top: 100px
	background-color: rgba(208, 208, 208, 0.15)
	position: relative
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		border: 163px solid transparent
		border-left: 205.5px solid rgba(184, 184, 184, 0.2)
	h2
		margin-bottom: 21px
		font-size: 2.250em
		line-height: 1.333em
	p
		font-size: 1.125em
		line-height: 1.556em
.calc-script
	background-color: #fff
	box-shadow: 0px 2px 6px rgba(90, 90, 90, 0.25)
	border-radius: 3px
	margin-top: 50px
	padding: 35px 72px 31px 
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		width: 456px
		height: 200px
		background: url(../images/calc-price-bg.png) 0 0 no-repeat
		right: 49px
		top: -200px
	.slider-amount
		margin: 0
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 21px
		&:first-child
			margin-top: 24px
		label
			font-weight: bold
			font-size: 1.500em
			line-height: 1.333em
		input
			display: block
			width: 120px
			box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)
			border-radius: 3px
			border: none 
			padding: 0 19px
			height: 37px
			text-align: center
			font-size: 1.250em
			line-height: 1.350em
	.dup-slider-amount
		font-size: 1.500em
		line-height: 1.333em
		margin-top: 9px
		&::after
			color: #B8B8B8
	#dup-amount-broadcasting
		margin-bottom: 36px
		&::after
			content: ' шт.'
	#dup-amount-time::after
		content: ' сек'
	.border-bottom-orange
		font-weight: normal
		margin-top: 18px
	.wrap-price
		font-size: 1.125em
		line-height: 1.556em
		font-weight: 600
	.result
		text-align: right
		font-weight: bold
	a.orange-btn
		margin: 48px 0 31px
		width: 100%
		text-align: center
#column_chart
	position: relative
	top: -25px
#pie_chart
	top: 77px
	position: relative
.wrap-calc-page-bottom
	background: rgba(208, 208, 208, 0.15) url(../images/calc-bottom-bg.png)
	padding: 187px 0 164px
	.calc-page-bottom
		background-color: #fff
		padding: 23px 0 20px
		border-radius: 3px
		box-shadow: 0px 2px 6px rgba(90, 90, 90, 0.25)
		a
			display: inline-block
			width: 100%
			border-right: 1px solid rgba(0,0,0,.25)
			display: flex
			justify-content: center
			align-items: center
			height: 115px
			&:hover h3::after
				background-color: #DD3800
				margin-top: 12px
			&:hover .svg path
				fill-opacity: 1 !important
			.svg path
				fill-opacity: 0.6 !important
			h3
				color: $text
				margin: 0
				margin-left: 35px
				font-size: 1.500em
				line-height: 1.333em
				&::after
					content: ''
					display: block
					width: 85px
					height: 3px
					background-color: transparent
					margin-top: 0
					transition: $trans
// RANGE SLIDER
.ui-slider-horizontal
	height: 8px
.ui-widget.ui-widget-content
	border: none
	background-color: #FFDED2
.ui-slider .ui-slider-range
	background-color: #BC3000
.ui-slider .ui-slider-handle
	background: #FFDED2
	border: 9px solid #DD3800
	border-radius: 50%
	width: 30px
	height: 30px
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3)
	top: -10px
	cursor: pointer
.ui-state-active
	background: #FFDED2 !important
//POPUP
.fancybox-bg
	background: rgba(19, 19, 19, 0.4)
.popup
	display: none
	background-color: #fff
	box-shadow: 0px 0px 6px rgba(90, 90, 90, 0.3)
	border-radius: 3px
	width: 490px
	padding: 90px 65px 69px
	font-family: 'Montserrat', sans-serif
	overflow: hidden
	.fancybox-close-small
		width: 60px
		height: 60px
		padding: 0
		color: $text
		transition: $trans
		&:hover
			transform: rotate(90deg)
	h2
		font-size: 2.250em
		line-height: 1.278em
		margin-bottom: 45px
		&.green
			color: #038C00
			&::after
				content: ''
				margin-top: 28px
				display: block
				width: 118px
				height: 3px
				background-color: #DD3800
	.result
		color: #636363
		font-size: 1.250em
		margin-bottom: 0
		line-height: 1.350em
//FORM STYLE
.default-form
	input
		width: 100%
		background: #EEEEEE
		min-height: 48px
		border-radius: 3px
		border: none
		margin-bottom: 17px 
		padding: 15px 19px 13px
	button
		margin-top: 21px
		display: block
		border: none
		color: #fff
		font-weight: 600
		width: 100%
		min-height: 68px
		text-align: center
		background: #DD3800
		box-shadow: 0px 6px 10px rgba(197, 52, 3, 0.2)
		border-radius: 3px
		font-size: 1.500em
		line-height: 1.583em
		cursor: pointer
		transition: $trans
		&:hover
			box-shadow: 0px 6px 10px rgba(197, 52, 3, .5)
// OTHER STYLE
h3.border-bottom-orange
	font-size: 1.500em
	line-height: 1.583em
	font-weight: bold
	margin-bottom: 0
	position: relative
	margin-bottom: 28px
	&::after
		margin-top: 12px
		content: ''
		display: block
		width: 85px
		height: 3px
		background-color: #DD3800
a.btn
	display: inline-block
	color: #fff
	border: 1px solid #f14349
	text-transform: uppercase
	background-color: #f14349
	font-weight: bold
	letter-spacing: 2px
	font-size: 0.875em
	line-height: 1
	border-radius: 4px
	padding: 21px 62px 19px
	transition: $trans
	&:hover
		background: none
// .section-counter h2.section-title::after //УБРАЛИ ПОСЛЕ ДЕПЛОЯ
// 	counter-increment: section-counter
// 	content: "0" counter(section-counter)
.section-title
	text-transform: uppercase
	font-size: 1.563em
	line-height: 1.4
	margin: 0
	text-align: center
	position: relative
	padding: 17px 0
	margin-bottom: 40px
	// &::after //УБРАЛИ ПОСЛЕ ДЕПЛОЯ
	// 	position: absolute
	// 	font-size: 3.960em
	// 	font-family: $proxi-nova-black
	// 	font-weight: normal
	// 	color: #e8e8e8
	// 	top: 0
	// 	line-height: 69px
	// 	margin-left: -53px
	// 	z-index: -1
.aligncenter
	text-align: center
a.read-more
	text-transform: uppercase
	color: #666
	border-bottom: 1px solid #d9d9d9
	font-weight: bold
	&:hover
		color: $accent
.no-bd
	border: none
.vertical-gray-line
	height: 100%
	width: 1px
	background: rgba(0,0,0,.25)
	margin: 0 auto
a.orange-btn
	display: inline-block
	font-size: 1.5em
	background: #DD3800
	box-shadow: 0px 6px 10px rgba(197, 52, 3, 0.2)
	border-radius: 3px
	color: #fff
	font-weight: 600
	padding: 22px 65px
	line-height: 1
	transition: $trans
	color: #fff
	&:hover
		box-shadow: 0px 6px 10px rgba(197, 52, 3, 0.5)
// END OTHER STYLE

@import "media" // Always at the end
